<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" @mouseover="stopAutoplay" tabindex="0">
<!--      commento quello fatto ieri per avere una versione (migliore) alternativa. Va rimosso il div item attivo ora per funzionare
                <template v-for="(oggetto, i) in oggetti"> -->
                    <!-- <div v-show="i == slideCorrente" class="item"> -->

                        <div  class="item">
                        <img :src="oggetti[slideCorrente].image" @mouseleave="startAutoplay" :alt="oggetti[slideCorrente].title">
                        <div class="text">
                            <h3>{{oggetti[slideCorrente].title}}</h3>
                            <p>{{oggetti[slideCorrente].text}}</p>
                        </div>
                    </div>

                <!-- </template> -->

                <div class="thumbs">
                    <div @click="prossima" class="prev"></div>
                    <div @click="precedente" class="next"></div>

                    <template v-for="(oggetto, i) in oggetti">

                        <div :class="(i == slideCorrente) ? `thumb active` : `thumb`">
                            <img @click="cambioAlClick(i)" :src="oggetto.image" alt="">
                        </div>

                    </template>
                    </div>
                </div>

            </div>
        </div>

        

    </div>
    <script src="./js/main.js"></script>
</body>

</html>